body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#new-book-button {
    border: none;
    height: 50px;
    width: 100px;
    color: white;
    background-color: dodgerblue;
    font-weight: 1000;
    border-radius: 10px;
}

input[type="submit"] {
    font-weight: 1000;
    border-radius: 10px;
    color: white;
    background-color: rgb(41, 41, 41);
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    border: 1px solid black;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 20vw;
}