* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#new-book-button {
    border: none;
    height: 50px;
    width: 100px;
    color: white;
    background-color: dodgerblue;
    font-weight: 1000;
    border-radius: 10px;
}

input[type="submit"] {
    font-weight: 1000;
    border-radius: 10px;
    color: white;
    background-color: dodgerblue;
    border: none;
    height: 30px;
}

.remove-button {
    font-weight: 1000;
    border-radius: 10px;
    color: white;
    background-color: red;
    border: none;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    border: 1px solid black;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 20vw;
}

#library {
    display: none;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-left: 8px solid orange;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}